@use '@abstracts/variables' as *;
@use '@abstracts/mixins' as *;

.site-footer {
    position: relative;
    width: 100%;
    background-color: $color-white;
    overflow: clip;
}

.star-image {
    display: none;
    position: absolute;
    bottom: 10%;
    right: -22%;

    @include tablet {
        display: block;
    }

    @include desktop {
        right: -15%;
    }
}
