@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.site-header {
    position: fixed;
    z-index: 9999;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: pxToRem(1440);
}
