@use '@abstracts/variables' as *;
@use '@abstracts/functions' as *;

.site-header {
    position: fixed;
    z-index: $z-index-max;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: pxToRem(1440);
}
