@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.site-companies {
    display: flex;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow-x: clip;

    @include desktop {
        overflow-x: clip;
    }
}
