@use '../abstracts/variables' as *;
@use '../base/typography' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;

.btn {
    @include flex-center;
    box-sizing: border-box;
    min-height: pxToRem($nav-button-height);

    // here the clamp is used for keeping the icon in center in tablet view, otherwise multiple media query has to be written specially for the tablet navbar view
    padding: clamp(
            pxToRem($primary-button-padding-vertical-small),
            1vh,
            pxToRem($primary-button-padding-vertical)
        )
        clamp(
            pxToRem($primary-button-padding-horizontal-small),
            1vw,
            pxToRem($primary-button-padding-horizontal)
        );

    border: none;
    border-radius: pxToRem($radius-md);

    font-family: $font-primary;
    font-size: clamp(pxToRem($font-size-xsm), 2vw, pxToRem($font-size-sm));
    font-weight: $font-weight-bold;
    line-height: $line-height-menu;
    letter-spacing: $letter-spacing-normal;

    text-decoration: none;
    white-space: nowrap;

    cursor: pointer;
}

.btn--login {
    width: 47.7%;

    color: $color-dark;
    background-color: transparent;
}

.btn--signup {
    width: 52.3%;

    color: $color-white;
    background-color: $color-primary;
}
