@use '../abstracts/variables' as *;
@use '../base/typography' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../vendors/icomoon' as *;

.hero {
    position: relative;
    width: 100%;
    margin-top: pxToRem(64);
    padding: 0 pxToRem(17);
    box-sizing: border-box;
    overflow: hidden;

    &__decor {
        &--left {
            left: pxToRem(45);
            top: pxToRem(175);

            @include floating-icon($color-pink);
        }

        &--bottom {
            left: pxToRem(265);
            top: pxToRem(340);

            @include floating-icon($color-orange);
        }
    }

    &__badge {
        position: absolute;

        top: pxToRem(250);
        right: pxToRem(24);
        width: pxToRem(85);
        border-radius: pxToRem(50);

        &-icon {
            flex-shrink: 0;
            font-size: pxToRem(10);
        }
    }

    &__media {
        position: relative;
        width: 100%;
        min-height: pxToRem(366);
        margin-bottom: pxToRem(32);
        box-sizing: border-box;
    }

    &__layer {
        position: absolute;
        width: 100%;
        object-fit: contain;
    }

    &__image-box {
        position: absolute;
        display: flex;
        inset: 0;

        gap: pxToRem(16);

        box-sizing: border-box;

        padding: clamp(pxToRem(26), 11vw, pxToRem(39))
            clamp(pxToRem(20), 11vw, pxToRem(54)) pxToRem(1);
    }

    &__images {
        display: flex;
        min-width: 0;

        &--left {
            @include flex-center;
            flex-direction: column;
            width: 50%;
            gap: clamp(pxToRem(10), 3.82vw, pxToRem(16));
        }

        &--right {
            @include flex-center;
            width: 50%;
        }
    }

    &__image {
        display: block;

        width: 100%;
        max-width: 100%;

        height: auto;

        object-fit: contain;

        min-width: 0;

        &--right {
            width: 100%;
        }
    }

    &__eyebrow {
        @include flex-center;
        width: pxToRem(224);
        box-sizing: border-box;
        padding: pxToRem(16) pxToRem(32);
        margin-top: pxToRem(4);
        gap: pxToRem(18);
        border: none;
        border-radius: pxToRem(100);
        color: $color-pink;
        font-size: pxToRem(14);
        white-space: nowrap;
        box-shadow:
            0 0 0 rgba(0, 0, 0, 0.07),
            0 34px 75px rgba(0, 0, 0, 0.07),
            0 137px 137px rgba(0, 0, 0, 0.06),
            0 308px 185px rgba(0, 0, 0, 0.04),
            0 548px 219px rgba(0, 0, 0, 0.01),
            0 856px 240px rgba(0, 0, 0, 0);

        &-icon {
            flex-shrink: 0;
            font-size: pxToRem(20);
        }
    }

    &__header {
        gap: pxToRem(24);
    }

    &__title {
        flex-direction: column;
        display: inline;
        padding: 0 pxToRem(22);
        font-size: pxToRem(40);

        &-highlight {
            color: $color-pink;
        }
    }

    &__actions {
        flex-direction: column;
    }

    &__button {
        @include flex-center;
        width: 100%;
        box-sizing: border-box;
        padding: pxToRem(24) pxToRem(32);
        text-align: center;
        border-radius: pxToRem(100);
        text-decoration: none;
        font-size: pxToRem(14);

        &--primary {
            background: $color-primary;

            color: $color-white;

            box-shadow:
                0 0 0 rgba(0, 0, 0, 0.1),
                0 pxToRem(5) pxToRem(11) rgba(0, 0, 0, 0.1),
                0 pxToRem(20) pxToRem(20) rgba(0, 0, 0, 0.09),
                0 pxToRem(45) pxToRem(27) rgba(0, 0, 0, 0.05),
                0 pxToRem(81) pxToRem(32) rgba(0, 0, 0, 0.01),
                0 pxToRem(126) pxToRem(35) rgba(0, 0, 0, 0);
        }

        &--secondary {
            gap: pxToRem(8);
            border: 1px solid $color-light;
            background-color: $color-white;
            color: inherit;
        }
    }

    &__button-icon {
        flex-shrink: 0;
        font-size: pxToRem(20);
        margin-bottom: pxToRem(5);
    }

    @include tablet {
        margin: 0 clamp(pxToRem(24), 6.25vw, pxToRem(64));
        padding: 0;

        overflow: visible;

        &__media {
            min-height: clamp(pxToRem(500), 69.63vw, pxToRem(713));
            margin: clamp(pxToRem(32), 6.25vw, pxToRem(64))
                clamp(pxToRem(24), 6.05vw, pxToRem(62));
            width: auto;
        }

        &__image-box {
            width: 100%;
            height: 100%;

            padding: clamp(pxToRem(40), 7.32vw, pxToRem(75))
                clamp(pxToRem(48), 8.89vw, pxToRem(91)) pxToRem(1);

            gap: clamp(pxToRem(18), 3.03vw, pxToRem(31));
        }

        &__images {
            &--left {
                width: 50%;
                gap: clamp(pxToRem(18), 3.03vw, pxToRem(31));
            }

            &--right {
                width: 50%;
            }
        }

        &__decor {
            &--left {
                left: pxToRem(118);

                top: pxToRem(410);
            }

            &--bottom {
                left: pxToRem(536);

                top: pxToRem(730);
            }
        }

        &__badge {
            top: pxToRem(488);
            right: pxToRem(56);

            width: pxToRem(170);

            &-icon {
                font-size: pxToRem(24);
            }
        }

        &__eyebrow {
            font-size: pxToRem(14);
        }

        &__header {
            gap: pxToRem(43);
        }

        &__title {
            padding: 0 pxToRem(150);
            font-size: pxToRem(56);
        }

        &__description {
            max-width: 100%;
            padding: 0 pxToRem(230);
        }

        &__actions {
            flex-direction: row;
            width: pxToRem(338);
            gap: pxToRem(16);
        }

        &__button {
            width: auto;
            white-space: nowrap;
            padding: pxToRem(16) pxToRem(32);
        }
    }

    @include desktop {
        padding: pxToRem(64) 0 0 0;
        box-sizing: border-box;
        margin: 0 clamp(pxToRem(48), 8.13vw, pxToRem(117));
        min-height: clamp(pxToRem(750), 60vw, pxToRem(1000));
        overflow: visible;

        &__media {
            position: absolute;
            right: 0;

            width: clamp(pxToRem(600), 54vw, pxToRem(800));
            min-height: clamp(pxToRem(650), 100vw, pxToRem(710));
            // height: 80%;
            margin: 0;
        }

        &__image-box {
            width: 100%;
            height: 100%;

            margin: 0;

            padding: clamp(pxToRem(50), 7.32vw, pxToRem(75))
                clamp(pxToRem(55), 8.88vw, pxToRem(91)) pxToRem(1);

            gap: clamp(0%, 100vw, 5.3%);
        }

        &__images {
            &--left {
                width: 47.3%;
                gap: clamp(0%, 100vw, 5%);
            }

            &--right {
                width: 47.3%;
            }
        }

        &__images--left &__image {
            width: auto;
            height: 47.5%;
        }

        &__images--right &__image {
            width: auto;
            height: 70%;
        }

        &__decor {
            &--left {
                left: 40.5%;
                top: 46.5%;
            }

            &--bottom {
                left: 75.5%;
                top: 82.5%;
            }
        }

        &__badge {
            top: pxToRem(550);
            right: pxToRem(10);
            width: pxToRem(170);
            border-radius: pxToRem(100);
        }

        &__content {
            min-height: clamp(pxToRem(700), 40vw, pxToRem(710));
            width: 40%;
            text-align: left;
            align-items: start;
        }

        &__eyebrow {
            font-size: pxToRem(14);
        }

        &__header {
            padding-right: pxToRem(50);
        }

        &__title {
            padding: 0;
            font-size: pxToRem(69);
        }

        &__description {
            padding: 0 pxToRem(50) 0 0;
            &--block {
                display: block;
            }
        }
    }
}
