@use '../abstracts/variables' as *;
@use '../base/typography' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../vendors/icomoon' as *;

.hero {
    position: relative;
    width: 100%;
    margin-top: rem(64px);
    padding: 0 rem(17px);
    box-sizing: border-box;
    overflow: hidden;

    &__decor {
        &--left {
            left: rem(45px);
            top: rem(175px);

            @include floating-icon($color-pink);
        }

        &--bottom {
            left: rem(265px);
            top: rem(340px);

            @include floating-icon($color-orange);
        }
    }

    &__badge {
        position: absolute;

        top: rem(250px);
        right: rem(24px);
        width: rem(85px);
        border-radius: rem(50px);

        &-icon {
            flex-shrink: 0;
            font-size: rem(10px);
        }
    }

    &__media {
        position: relative;
        width: 100%;
        min-height: rem(366px);
        margin-bottom: rem(32px);
        box-sizing: border-box;
    }

    &__layer {
        position: absolute;
        width: 100%;
        object-fit: contain;
    }

    &__image-box {
        position: absolute;
        display: flex;
        inset: 0;

        gap: rem(16px);

        box-sizing: border-box;

        padding: clamp(rem(26px), 11vw, rem(39px))
            clamp(rem(20px), 11vw, rem(54px)) rem(1px);
    }

    &__images {
        display: flex;
        min-width: 0;

        &--left {
            @include flex-center;
            flex-direction: column;
            width: 50%;
            gap: clamp(rem(10px), 3.82vw, rem(16px));
        }

        &--right {
            @include flex-center;
            width: 50%;
        }
    }

    &__image {
        display: block;

        width: 100%;
        max-width: 100%;

        height: auto;

        object-fit: contain;

        min-width: 0;

        &--right {
            width: 100%;
        }
    }

    &__eyebrow {
        @include flex-center;
        width: rem(224px);
        box-sizing: border-box;
        padding: rem(16px) rem(32px);
        margin-top: rem(4px);
        gap: rem(18px);
        border: none;
        border-radius: rem(100px);
        color: $color-pink;
        font-size: rem(14px);
        white-space: nowrap;
        box-shadow:
            0 0 0 rgba(0, 0, 0, 0.07),
            0 34px 75px rgba(0, 0, 0, 0.07),
            0 137px 137px rgba(0, 0, 0, 0.06),
            0 308px 185px rgba(0, 0, 0, 0.04),
            0 548px 219px rgba(0, 0, 0, 0.01),
            0 856px 240px rgba(0, 0, 0, 0);

        &-icon {
            flex-shrink: 0;
            font-size: rem(20px);
        }
    }

    &__header {
        gap: rem(24px);
    }

    &__title {
        flex-direction: column;
        display: inline;
        padding: 0 rem(22px);
        font-size: rem(40px);

        &-highlight {
            color: $color-pink;
        }
    }

    &__actions {
        flex-direction: column;
    }

    &__button {
        @include flex-center;
        width: 100%;
        box-sizing: border-box;
        padding: rem(24px) rem(32px);
        text-align: center;
        border-radius: rem(100px);
        text-decoration: none;
        font-size: rem(14px);

        &--primary {
            background: $color-primary;

            color: $color-white;

            box-shadow:
                0 0 0 rgba(0, 0, 0, 0.1),
                0 rem(5px) rem(11px) rgba(0, 0, 0, 0.1),
                0 rem(20px) rem(20px) rgba(0, 0, 0, 0.09),
                0 rem(45px) rem(27px) rgba(0, 0, 0, 0.05),
                0 rem(81px) rem(32px) rgba(0, 0, 0, 0.01),
                0 rem(126px) rem(35px) rgba(0, 0, 0, 0);
        }

        &--secondary {
            gap: rem(8px);
            border: 1px solid $color-light;
            background-color: $color-white;
            color: inherit;
        }
    }

    &__button-icon {
        flex-shrink: 0;
        font-size: rem(20px);
        margin-bottom: rem(5px);
    }

    @include tablet {
        margin: 0 clamp(rem(24px), 6.25vw, rem(64px));
        padding: 0;

        overflow: visible;

        &__media {
            min-height: clamp(rem(500px), 69.63vw, rem(713px));
            margin: clamp(rem(32px), 6.25vw, rem(64px))
                clamp(rem(24px), 6.05vw, rem(62px));
            width: auto;
        }

        &__image-box {
            width: 100%;
            height: 100%;

            padding: clamp(rem(40px), 7.32vw, rem(75px))
                clamp(rem(48px), 8.89vw, rem(91px)) rem(1px);

            gap: clamp(rem(18px), 3.03vw, rem(31px));
        }

        &__images {
            &--left {
                width: 50%;
                gap: clamp(rem(18px), 3.03vw, rem(31px));
            }

            &--right {
                width: 50%;
            }
        }

        &__decor {
            &--left {
                left: rem(118px);

                top: rem(410px);
            }

            &--bottom {
                left: rem(536px);

                top: rem(730px);
            }
        }

        &__badge {
            top: rem(488px);
            right: rem(56px);

            width: rem(170px);

            &-icon {
                font-size: rem(24px);
            }
        }

        &__eyebrow {
            font-size: rem(14px);
        }

        &__header {
            gap: rem(43px);
        }

        &__title {
            padding: 0 rem(150px);
            font-size: rem(56px);
        }

        &__description {
            max-width: 100%;
            padding: 0 rem(230px);
        }

        &__actions {
            flex-direction: row;
            width: rem(338px);
            gap: rem(16px);
        }

        &__button {
            width: auto;
            white-space: nowrap;
            padding: rem(16px) rem(32px);
        }
    }

    @include desktop {
        padding: rem(64px) 0 0 0;
        box-sizing: border-box;
        margin: 0 clamp(rem(48px), 8.13vw, rem(117px));
        min-height: clamp(rem(750px), 60vw, rem(1000px));
        overflow: visible;

        &__media {
            position: absolute;
            right: 0;

            width: clamp(rem(600px), 54vw, rem(800px));
            min-height: clamp(rem(650px), 100vw, rem(710px));
            // height: 80%;
            margin: 0;
        }

        &__image-box {
            width: 100%;
            height: 100%;

            margin: 0;

            padding: clamp(rem(50px), 7.32vw, rem(75px))
                clamp(rem(55px), 8.88vw, rem(91px)) rem(1px);

            gap: clamp(0%, 100vw, 5.3%);
        }

        &__images {
            &--left {
                width: 47.3%;
                gap: clamp(0%, 100vw, 5%);
            }

            &--right {
                width: 47.3%;
            }
        }

        &__images--left &__image {
            width: auto;
            height: 47.5%;
        }

        &__images--right &__image {
            width: auto;
            height: 70%;
        }

        &__decor {
            &--left {
                left: 40.5%;
                top: 46.5%;
            }

            &--bottom {
                left: 75.5%;
                top: 82.5%;
            }
        }

        &__badge {
            top: rem(550px);
            right: rem(10px);
            width: rem(170px);
            border-radius: rem(100px);
        }

        &__content {
            min-height: clamp(rem(700px), 40vw, rem(710px));
            width: 40%;
            text-align: left;
            align-items: start;
        }

        &__eyebrow {
            font-size: rem(14px);
        }

        &__header {
            padding-right: rem(50px);
        }

        &__title {
            padding: 0;
            font-size: rem(69px);
        }

        &__description {
            padding: 0 rem(50px) 0 0;
            &--block {
                display: block;
            }
        }
    }
}
