@use '../abstracts/variables' as *;
@use '../base/typography' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/mixins' as *;
@use '../vendors/icomoon' as *;

.hero {
    position: relative;
    max-width: 100%;
    margin-top: rem(64px);
    padding: 0 rem(17px);
    box-sizing: border-box;
    overflow: hidden;

    &__decor {
        position: absolute;
        z-index: 10;
        pointer-events: none;
        &--left {
            left: clamp(rem(20px), 10.4vw, rem(45px));
            top: clamp(rem(100px), 40.7vw, rem(175px));
            @include floating-icon($color-pink, 32.85px);
        }

        &--bottom {
            left: 60%;
            top: 37.5%;

            @include floating-icon($color-orange, 32.85px);
        }

        .icon {
            font-size: rem(16px);
        }
    }

    &__badge {
        position: absolute;

        top: clamp(rem(180px), 58.25vw, rem(250px));
        right: clamp(rem(10px), 5.59vw, rem(24px));
        @include flex-between;
        width: clamp(rem(70px), 19.82vw, rem(85px));
        box-sizing: border-box;
        padding: clamp(rem(6px), 1.91vw, rem(8px))
            clamp(rem(10px), 3.82vw, rem(16px));

        gap: clamp(rem(3px), 0.95vw, rem(4px));

        border: none;
        border-radius: rem(51px);
        background-color: $color-white;
        font-family: $font-primary;
        font-size: clamp(rem(6px), 1.67vw, rem(7px));
        line-height: $line-height-menu;
        z-index: 20;
        &-icon {
            flex-shrink: 0;

            font-size: rem(10px);
        }
    }

    &__media {
        position: relative;
        width: 100%;
        min-height: rem(366px);
        margin-bottom: rem(32px);
        box-sizing: border-box;
    }

    &__layer {
        position: absolute;
        width: 100%;
        object-fit: contain;
    }

    &__image-box {
        position: absolute;
        display: flex;
        inset: 0;

        gap: rem(16px);

        box-sizing: border-box;

        padding: clamp(rem(26px), 11vw, rem(39px))
            clamp(rem(20px), 11vw, rem(54px)) rem(1px);
    }

    &__images {
        display: flex;
        min-width: 0;

        &--left {
            @include flex-center;
            flex-direction: column;
            width: 50%;
            gap: clamp(rem(10px), 3.82vw, rem(16px));
        }

        &--right {
            @include flex-center;
            width: 50%;
        }
    }

    &__image {
        display: block;

        width: 100%;
        max-width: 100%;

        height: auto;

        object-fit: contain;

        min-width: 0;

        &--right {
            width: 100%;
        }
    }

    &__content {
        @include flex-center;

        flex-direction: column;

        width: 100%;

        box-sizing: border-box;

        font-family: $font-primary;

        text-align: center;

        min-width: 0;
    }

    &__eyebrow {
        @include flex-center;
        width: rem(224px);
        box-sizing: border-box;
        padding: rem(16px) rem(32px);
        margin-top: rem(4px);
        gap: rem(18px);
        border: none;
        border-radius: rem(100px);
        color: $color-pink;
        font-size: rem(14px);
        white-space: nowrap;
        box-shadow:
            0 0 0 rgba(0, 0, 0, 0.07),
            0 34px 75px rgba(0, 0, 0, 0.07),
            0 137px 137px rgba(0, 0, 0, 0.06),
            0 308px 185px rgba(0, 0, 0, 0.04),
            0 548px 219px rgba(0, 0, 0, 0.01),
            0 856px 240px rgba(0, 0, 0, 0);

        &-icon {
            flex-shrink: 0;
            font-size: rem(20px);
        }
    }

    &__header {
        width: 100%;
        min-width: 0;
    }

    &__title {
        margin-top: clamp(rem(20px), 5vw, rem(50px));
        padding: 0 rem(22px);
        font-family: $font-primary;
        font-size: clamp(rem(40px), 9vw, rem(44px));
        font-weight: $font-weight-medium;
        font-style: $font-style-bold;
        line-height: $line-height-menu;
        letter-spacing: 0;
        &-highlight {
            color: $color-pink;
        }
    }

    &__description {
        max-width: rem(700px);
        margin-top: rem(24px);
        color: $non-active-link;
        opacity: 0.5;
        font-family: $font-secondary;
        font-size: clamp(rem(16px), 2vw, rem(18px));
        line-height: $line-height-hero;
        box-sizing: border-box;
    }

    &__actions {
        @include flex-center;
        flex-direction: column;
        width: 100%;
        margin-top: rem(32px);
        margin-bottom: rem(64px);
        gap: rem(24px);
        box-sizing: border-box;
    }

    &__button {
        @include flex-center;
        width: 100%;
        box-sizing: border-box;
        padding: rem(24px) rem(32px);
        text-align: center;
        border-radius: rem(100px);
        text-decoration: none;
        font-size: rem(14px);

        &--primary {
            background: $color-primary;

            color: $color-white;

            box-shadow:
                0 0 0 rgba(0, 0, 0, 0.1),
                0 rem(5px) rem(11px) rgba(0, 0, 0, 0.1),
                0 rem(20px) rem(20px) rgba(0, 0, 0, 0.09),
                0 rem(45px) rem(27px) rgba(0, 0, 0, 0.05),
                0 rem(81px) rem(32px) rgba(0, 0, 0, 0.01),
                0 rem(126px) rem(35px) rgba(0, 0, 0, 0);
        }

        &--secondary {
            gap: rem(8px);
            border: 1px solid $color-light;
            background-color: transparent;
            color: inherit;
        }
    }

    &__button-icon {
        flex-shrink: 0;
        font-size: rem(20px);
        margin-bottom: rem(5px);
    }

    @include tablet {
        margin-top: 0;
        margin: 0 clamp(rem(24px), 6.25vw, rem(64px));
        padding: 0;

        overflow: visible;

        &__media {
            min-height: clamp(rem(500px), 69.63vw, rem(713px));
            margin: clamp(rem(32px), 6.25vw, rem(64px))
                clamp(rem(24px), 6.05vw, rem(62px));
            width: auto;
        }

        &__image-box {
            width: 100%;
            height: 100%;

            padding: clamp(rem(40px), 7.32vw, rem(75px))
                clamp(rem(48px), 8.89vw, rem(91px)) rem(1px);

            gap: clamp(rem(18px), 3.03vw, rem(31px));
        }

        &__images {
            &--left {
                width: 50%;
                gap: clamp(rem(18px), 3.03vw, rem(31px));
            }

            &--right {
                width: 50%;
            }
        }

        &__decor {
            &--left {
                left: clamp(rem(55px), 11.52vw, rem(118px));

                top: clamp(rem(180px), 32.32vw, rem(331px));

                @include floating-icon($color-pink, 64px);
            }

            &--bottom {
                left: clamp(rem(300px), 52.34vw, rem(536px));

                top: clamp(rem(400px), 63.38vw, rem(649px));

                @include floating-icon($color-orange, 64px);
            }

            .icon {
                font-size: rem(32px);
            }
        }

        &__badge {
            top: clamp(rem(300px), 47.66vw, rem(488px));

            right: clamp(rem(24px), 5.47vw, rem(56px));

            width: clamp(rem(130px), 16.6vw, rem(170px));

            padding: clamp(rem(10px), 1.56vw, rem(16px))
                clamp(rem(20px), 3.125vw, rem(32px));

            font-size: clamp(rem(11px), 1.37vw, rem(14px));

            gap: clamp(rem(5px), 0.78vw, rem(8px));

            &-icon {
                font-size: rem(24px);
            }
        }

        &__eyebrow {
            font-size: rem(14px);
        }

        &__title {
            margin-top: clamp(rem(24px), 4.2vw, rem(43px));
            padding: 0 clamp(rem(50px), 14.65vw, rem(150px));
            font-size: clamp(rem(42px), 5.47vw, rem(56px));
        }

        &__description {
            max-width: 100%;
            margin-top: clamp(rem(24px), 4.2vw, rem(43px));

            padding: 0 clamp(rem(40px), 22.46vw, rem(250px));

            font-size: clamp(rem(16px), 1.76vw, rem(18px));
        }

        &__actions {
            flex-direction: row;
            width: clamp(rem(280px), 33vw, rem(338px));
            margin-top: clamp(rem(24px), 4vw, rem(43px));

            gap: clamp(rem(10px), 1.56vw, rem(16px));
            padding: 0;
        }

        &__button {
            width: auto;
            white-space: nowrap;
            padding: rem(16px) rem(32px);
        }
    }

    @include desktop {
        padding: rem(64px) 0;
        box-sizing: border-box;
        margin: 0 clamp(rem(48px), 8.13vw, rem(117px));
        min-height: clamp(rem(628px), 42vw, rem(848px));
        overflow: visible;

        &__media {
            position: absolute;
            right: 0;

            width: clamp(rem(600px), 40vw, rem(772px));
            height: 80%;

            max-height: clamp(rem(600px), 42vw, rem(800px));

            min-height: 0;

            margin: 0;
        }

        &__image-box {
            width: 100%;
            height: 100%;

            margin: 0;

            padding: clamp(rem(50px), 7.32vw, rem(75px))
                clamp(rem(55px), 8.88vw, rem(91px)) rem(1px);

            gap: 5.4%;
        }

        &__images {
            &--left {
                width: 47.3%;
                gap: 5%;
            }

            &--right {
                width: 47.3%;
            }
        }

        &__images--left &__image {
            width: auto;
            height: 47.5%;
        }

        &__images--right &__image {
            width: auto;
            height: 70%;
        }

        &__decor {
            &--left {
                left: 41%;
                top: 47.8%;
                @include flex-center;
                @include floating-icon($color-pink, 64px);
            }

            &--bottom {
                left: 75%;
                top: 86%;
                @include flex-center;
                @include floating-icon($color-orange, 64px);
            }

            .icon {
                font-size: rem(32px);
            }
        }

        &__badge {
            top: 66%;
            left: 86%;
            right: auto;
            width: rem(170px);
            padding: rem(16px) rem(32px);
            border-radius: rem(100px);
            font-size: rem(14px);
            gap: rem(8px);
            &-icon {
                font-size: rem(24px);
            }
        }

        &__content {
            display: block;
            width: 40%;
            text-align: left;
            align-items: start;
        }

        &__eyebrow {
            font-size: rem(14px);
        }

        &__header {
            width: 90%;
        }

        &__title {
            margin-top: rem(43px);
            padding: 0;
            font-size: clamp(rem(56px), 5vw, rem(69px));
        }

        &__description {
            margin-top: rem(43px);

            padding: 0 clamp(rem(20px), 4.88vw, rem(50px)) 0 0;

            font-size: rem(18px);
        }

        &__actions {
            flex-direction: row;
            width: rem(338px);
            margin-top: rem(43px);
            margin-bottom: 0;
            gap: rem(16px);
            padding: 0;
            align-items: center;
        }

        &__button {
            width: auto;
            white-space: nowrap;
            padding: rem(20px) rem(24px);
        }
    }
}
