@use '@abstracts/variables' as *;
@use '@base/typography' as *;
@use '@abstracts/functions' as *;
@use '@abstracts/mixins' as *;

.navbar {
    width: 100%;
    margin-top: pxToRem(35);
    padding: 0 pxToRem(16);
    @include flex-between;
    position: relative;

    &-shorter {
        padding: pxToRem(16) pxToRem(16);
        background: rgba($color-white, 0.9);
        border-radius: pxToRem(100);
        width: 90%;
    }

    transition: width 0.5s ease;

    &__menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        padding: pxToRem(80) pxToRem(24);
        background-color: $color-white;
        transform: translateX(100%);
        transition: transform 0.35s ease;
        z-index: $z-index-menu;

        &--is-open {
            transform: translateX(0);

            .navbar__link {
                font-size: pxToRem(20);
            }
        }
    }

    &__link {
        @include menu-link;

        color: $non-active-link;
        opacity: 0.5;
        text-decoration: none;

        transition:
            color 1s ease,
            opacity 1s ease;

        &:hover,
        &-active-link {
            color: $active-link;
            opacity: 1;
        }
    }

    &__actions {
        display: none;
    }

    &__toggle {
        @include flex-center;

        width: pxToRem($hamburger-size);
        height: pxToRem($hamburger-size);
        border: none;
        margin: 0;
        position: relative;
        z-index: $z-index-toggle-button;
        background-color: transparent;
        cursor: pointer;
        flex-shrink: 0;

        img {
            object-fit: contain;
        }
    }

    @include tablet {
        margin-top: 0;
        padding: pxToRem(32) 0;

        &__logo {
            margin: 0 auto;
        }

        &__menu {
            transform: translateX(-100%);
            transition: transform 0.5s ease;

            &--is-open {
                transform: translateX(0);

                .navbar__link {
                    font-size: pxToRem(25);
                }
            }
        }

        &__actions {
            display: flex;
            gap: 0;
            width: clamp(pxToRem(10), 35vw, pxToRem(220));
            margin-right: clamp(pxToRem(40), 10vw, pxToRem(64));
        }

        &__toggle {
            display: flex;
            justify-content: flex-start;
            width: clamp(pxToRem(120), 21.5vw, pxToRem(220));
            margin-left: clamp(pxToRem(40), 10vw, pxToRem(64));
        }

        &-shorter {
            margin-top: pxToRem(32);
            transition: margin-top 0.5s ease;
            padding: pxToRem(16) 0;

            .navbar__actions {
                margin-right: pxToRem(32);
            }

            .navbar__toggle {
                margin-left: pxToRem(32);
            }
        }
    }

    @include desktop {
        margin-top: pxToRem(34);
        padding: pxToRem(32) 0;
        justify-content: center;

        &__logo {
            position: static;
            transform: none;
            margin-left: pxToRem(117);
        }

        &__menu {
            @include flex-between;

            flex-direction: row;
            position: static;
            width: auto;
            height: auto;
            margin: 0 auto;
            padding: 0;
            gap: pxToRem($menu-gap);
            background-color: transparent;
            transform: none;
            transition: gap 0.5s ease;

            &-shorter {
                gap: pxToRem($menu-gap-shorter);
            }
        }

        &__actions {
            width: pxToRem(220);
            margin-right: pxToRem(117);
        }

        &-shorter {
            .navbar__logo {
                margin-left: pxToRem(64);
            }

            .navbar__actions {
                margin-right: pxToRem(64);
            }

            .navbar__menu {
                height: pxToRem(50);
            }

            .navbar__link {
                font-size: pxToRem(20);
            }

            .btn {
                font-size: pxToRem(15);
            }
        }

        &__toggle {
            display: none;
        }
    }
}

.navbar__menu--is-open .navbar__actions {
    display: flex;
    width: 100%;
}
