@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;
@use '../base/typography' as *;

.travel-point {
    @include flex-center-col;
    gap: rem(32px);
    padding-bottom: rem(64px);
    text-align: center;

    &__visual {
        margin: 0;
        @include flex-center;
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    &__description {
        margin: rem(32px) rem(40px) 0 rem(40px);
    }

    &__stats {
        width: 100%;
        padding: 0 rem(40px);
    }

    &__stat {
        border: 1px solid rgba($non-active-link, 0.1);
        border-radius: rem(32px);

        &-value {
            margin-bottom: rem(16px);
        }
    }

    @include tablet {
        padding-bottom: 0;
        gap: rem(64px);

        &__image {
            min-height: rem(890px);
        }

        &__content {
            gap: rem(64px);
        }

        &__description {
            margin: rem(16px) 0 0 0;
            padding: 0 rem(64px);
        }

        &__stats {
            padding: 0 rem(64px);
        }

        &__stat {
            min-height: rem(100px);
        }
    }

    @include desktop {
        padding: rem(77px) 0;
        margin-right: rem(117px);

        display: grid;
        grid-template-columns: 2fr 1fr;

        max-height: none;
        gap: 0;

        &__visual {
            order: 1;
            min-width: 0;
            min-height: 0;
        }

        &__image {
            width: 100%;
            max-width: 100%;
            height: auto;
            max-height: 100%;
            object-fit: contain;
        }

        &__content {
            order: 2;
            margin: 0;
        }

        &__header {
            text-align: left;
        }

        &__eyebrow {
            width: 100%;
            justify-content: left;
        }

        &__description {
            margin: 0;
            padding: 0;
        }

        &__stats {
            padding: 0;
        }

        &__stat {
            min-height: rem(110px);
            padding: rem(24px);
        }
    }
}
