@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

@mixin tablet {
    @media (min-width: 431px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin floating-icon($background-color, $size) {
    width: rem($size);
    height: rem($size);
    border: none;
    border-radius: 50%;
    padding: rem(8.21px);
    background-color: $background-color;
    @include flex-center;
}
