$color-white: #ffffff;
$color-light: #eeeeee;
$color-pink: #f85e9f;
$color-orange: #ff5722;
$color-yellow: #facd49;
$color-black: #000000;
$color-dark: #222831;
$color-primary: #5d50c6;
$primary-button-color: $color-primary;
$non-active-link: #191825;
$active-link: #222831;
$tablet: 431px;
$desktop: 1025px;
$logo: 40px;
$hamburger: 48px;
$menu-item-size: 14px;
$menu-items-height: 17px;
$menu-gap: 64px;
$menu-gap-shorter: 50px;
$nav-button-height: 49px;
$primary-button-padding-horizontal: 32px;
$primary-button-padding-vertical: 16px;
$primary-button-padding-horizontal-small: 24px;
$primary-button-padding-vertical-small: 8px;
$radius-md: 100px;
