@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;

.ellipse-top {
    position: absolute;
    width: pxToRem(300);
    height: pxToRem(300);
    top: pxToRem(9);
    left: pxToRem(-40);
    background: $color-orange;
    filter: blur(pxToRem(150));
    opacity: 0.5;
    border: none;
    border-radius: 50%;
    z-index: 1000;
}

@include tablet {
    .ellipse-top {
        width: pxToRem(500);
        height: pxToRem(500);
        left: pxToRem(-50);
        filter: blur(pxToRem(200));
        top: -20%;
        left: -20%;
        z-index: 0;
    }
}

@include desktop {
    .ellipse-top {
        width: pxToRem(500);
        height: pxToRem(500);
        left: pxToRem(-60);
        filter: blur(pxToRem(250));
    }
}
