@font-face {
    font-family: 'Circular Std';
    src: url('/assets/fonts/circular-std-medium-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-palette-values --star-black {
    font-family: 'Circular Std';
    base-palette: 0;
    override-colors: 0 #000000;
}
