$font-size-sm: 14px;
$font-size-xsm: 12px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 500;
$font-weight-extra: 700;

$font-style-normal: normal;
$font-style-bold: bold;
$font-style-regular: regular;

$line-height-menu: 120%;
$line-height-hero: 160%;

$letter-spacing-normal: 0;
$letter-spacing-medium: 0.2rem;

@font-face {
    font-family: 'Circular Std';
    src: url('/assets/fonts/circular-std-medium-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-palette-values --star-black {
    font-family: 'Untitled';
    base-palette: 0;
    override-colors: 0 #000000;
}

$font-primary: 'Circular Std', sans-serif;
$font-secondary: 'Inter', sans-serif;
